[submodule "monolithic"]
	path = monolithic
	url = https://github.com/lancachenet/monolithic
[submodule "generic"]
	path = generic
	url = https://github.com/lancachenet/generic
[submodule "ubuntu-nginx"]
	path = ubuntu-nginx
	url = https://github.com/lancachenet/ubuntu-nginx
[submodule "lancache-dns"]
	path = lancache-dns
	url = https://github.com/lancachenet/lancache-dns
[submodule "cache-domains"]
	path = cache-domains
	url = https://github.com/uklans/cache-domains
